* {
    margin: 0px;
    padding: 0px;
}

header{
    
    background-color: rgb(44, 62, 196);
    padding: 3rem;
    height: 18vh;
    justify-content: space-between;
}
.subdiv1 {
    background-color: red;
    display: flex;
    height: 50%;
    justify-content: space-between;
}
.sub1{
    background-color: aqua;
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-around;

}
.round{
    background-color: #fff;
    padding: 10px; 
    align-items: center;
    height: 81%;
    width: 100%;
    font-size: xx-large;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
}

.search{
    background-color: whitesmoke;
    /* padding: 10px;  */
    align-items: center;
    height: 95%;
    width: 40%;
    display: flex;
    border: 5px solid #ccc;
    text-overflow: ellipsis;
    border-radius: 15px;
    justify-content: start;
}
::placeholder{
    font-size: medium;
}
/* .input-with-icon {
   display: flex;
   align-items: center;
   border: 1px solid #ccc;
   border-radius: 4px;
   padding: 5px;
} */

.search svg {
    margin-right: 8px; 
}
::placeholder{
    font-size: 20px;
}
.search input {
    /* font-size: 50px; */
   border: none;
   outline: none;
   flex-grow: 1;
}
a{
    text-decoration: none;
}