body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: greenyellow;
}

.counter-container {
    margin-top: 50px;
}

#counter {
    font-size: 2em;
    font-weight: bold;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}